@model MyMusicStore.Models.Album

@{
    ViewBag.Title = "Delete";
}

<h2>Album Delete Confirmation</h2>

<h3> Are you sure you want to delete @Model.Artist.Name's <strong>@Model.Title </strong> ? </h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
